 <img src="/img/longdays.jpg" style="width:100%;height:auto; padding-top:50px;">
    <!-- Intro Header -->
    <header class="intro2">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <br/>
                    <br/>
                    <br/>


                            <a href="#soundcloud" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
         <img src="/img/thrills+flume.jpg" style="width:100%;height:auto; padding-top:0px;">
    </header>
