    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}



    <!DOCTYPE html>
    <html>



      <title>CodePen - Text Mask Party Time</title>

        <link rel="stylesheet" href="css/style.css">


    <body>

      <h5>
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX
      KICK-MIX


    </h5>

      <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'></script>

      <script src="js/index.js"></script>

    </body>

    </html>

    <!-- Intro Header -->
    <header class="intro2">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                            <a href="#vimeo" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
