{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <!-- Video Section -->
    <section id="vimeo">
    <div class="youtube">
    <iframe src="https://www.youtube.com/embed/fQJLf0BiEzk?showinfo=0" 
    frameborder="0" allowfullscreen class="video"></iframe>
    </div>

    
    </div>
</section>

<!-- Intro Header -->
<header class="intro2">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                        <a href="#vimeo" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>
